# Log files
*.log
log/

# Temporary folders
tmp/
temp/

deployment/Chrome/*/*/*.txt
deployment/Chrome/*/*.txt
deployment/Chrome/*/*.png
deployment/Chrome/*.txt
deployment/Chrome/*.png
deployment/Firefox

